* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 640px;
    padding: 20px;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

hr {
    border: 1px solid #333079;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

.btn {
    cursor: pointer;
}

/* ------------ Header ------------ */

header .wrapper {
    background-color: #333079;
    color: #fff;
    border-radius: 15px 15px 0 0;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .add-task-btn {
    display: flex;
    align-items: center;
}

header .add-btn {
    width: 30px;
    height: 30px;
    background-image: url("../img/plus_blue.png");
    background-repeat: no-repeat;
    background-position: center; 
    margin-right: 10px;
}

header .add-task-btn:hover .add-btn {
    background-image: url("../img/plus.png");
}

header p {
    font-size: 1.2em;
}

/* ------------ Add-task-box section ------------ */

.add-task-box {
    border-left: 2px solid #333079;
    border-right: 2px solid #333079;
}

.add-task-box .radio-btns {
    width: 20%;
    float: left;
}

.add-task-box .radio-btns p{
    font-weight: 600;
    margin-bottom: 10px;
}

.add-task-box .radio-label {
    display: block;
    position: relative;
    padding-left: 22px;
    margin-bottom: 4px;
    cursor: pointer;
    font-size: 0.8em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.add-task-box .radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    line-height: 1.1em;
}

/* Create a custom radio button */
.add-task-box .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: rgba(132, 130, 192, 0.35);
    border-radius: 50%;
}

/* On mouse-over, add background color */
.add-task-box .vhigh:hover input ~ .checkmark {
    background-color: #9B2E4F;
}

.add-task-box .high:hover input ~ .checkmark {
    background-color: #333079;
}

.add-task-box .normal:hover input ~ .checkmark {
    background-color: #5F9A2E;
}

.add-task-box .low:hover input ~ .checkmark {
    background-color: #AD9033;
}

.add-task-box .vlow:hover input ~ .checkmark {
    background-color: #b0b0b0;
}

/* When the radio button is checked, add a blue background */
.add-task-box .vhigh input:checked ~ .checkmark {
    background-color: rgba(155, 46, 79, 0.15);
}

.add-task-box .high input:checked ~ .checkmark {
    background-color: rgba(51, 48, 121, 0.15);
}

.add-task-box .normal input:checked ~ .checkmark {
    background-color: rgba(95, 154, 46, 0.15);
}

.add-task-box .low input:checked ~ .checkmark {
    background-color: rgba(173, 144, 51, 0.15);
}

.add-task-box .vlow input:checked ~ .checkmark {
    background-color: rgba(176, 176, 176, 0.15);
}

/* Create the indicator (hidden when not checked) */
.add-task-box .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator when checked */
.add-task-box input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.add-task-box .checkmark:after {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    box-sizing: border-box;
}

.add-task-box .vhigh .checkmark:after {
    border: 3px solid #9B2E4F;
}

.add-task-box .high .checkmark:after {
    border: 3px solid #333079;
}

.add-task-box .normal .checkmark:after {
    border: 3px solid #5F9A2E;
}

.add-task-box .low .checkmark:after {
    border: 3px solid #AD9033;
}

.add-task-box .vlow .checkmark:after {
    border: 3px solid #b0b0b0;
}

.add-task-box .content-box p {
    margin-bottom: 10px;
    font-size: 0.8em;
}

.add-task-box .content-box {
    width: 80%;
    float: left;
    margin-top: 5px;
}

.add-task-box .content-box textarea {
    font-size: 1em;
    width: 100%;
    border: 1px solid rgba(132, 130, 192, 0.35);    
    outline-color: #333079;
    padding: 10px;
    color: #444;
    display: block;
    resize: none;
}

.add-task-box .content-box .btns-box {
    margin-top: 10px;
}

.add-task-box .content-box .btns-box .btn {
    width: 32px;
    height: 32px;
}

/* ------------ List-box section ------------ */

section {
    color: #444;
}

.list-box {
    border: 2px solid #333079;
    border-radius: 0 0 15px 15px;
}

.list-box .task-list {
    list-style: none;
}

.list-box .task-list li{
    width: 100%;
}

.list-box .task-list hr {
    border: 1px solid rgba(132, 130, 192, 0.35);
}

.list-box .task-list li:last-of-type hr {
    border: 1px solid #333079;
}

.task-priority {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    margin-right: 10px;
    float: left;
}

.list-box .task-list li p {
    max-width: 476px;
    float: left;
}

.very-high-priority{
    border: 4px solid #9B2E4F;    
    background-color: rgba(155, 46, 79, 0.15);
}

.high-priority{
    border: 4px solid #333079;    
    background-color: rgba(51, 48, 121, 0.15);
}

.normal-priority {
    border: 4px solid #5F9A2E;    
    background-color: rgba(95, 154, 46, 0.15);
}

.low-priority {
    border: 4px solid #AD9033;    
    background-color: rgba(173, 144, 51, 0.15);
}

.very-low-priority {
    border: 4px solid #b0b0b0;    
    background-color: rgba(176, 176, 176, 0.15);
}

.done {
    color: #31af91;
}

.add-task-box .btn,
.list-box .btn {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 10px;
    float: right;
}

.list-box .task-list .edit-btn {
    background-image: url("../img/edit.png");
}

.list-box .task-list .edit-btn:hover {
    background-image: url("../img/edit_hover.png");
}

.add-task-box .delete-btn,
.list-box .task-list .delete-btn,
.list-box .remove-complete-btn {
    background-image: url("../img/cancel.png");
}

.add-task-box .delete-btn:hover,
.list-box .task-list .delete-btn:hover,
.list-box .remove-complete-btn:hover {
    background-image: url("../img/cancel_hover.png");
}

.add-task-box .complete-btn,
.list-box .task-list .complete-btn {
    background-image: url("../img/complete.png");
}

.add-task-box .complete-btn:hover,
.list-box .task-list .complete-btn:hover {
    background-image: url("../img/complete_hover.png");
}

.list-box .remove-complete-btn {
    background-image: url("../img/cancel.png");
    float: left;
    margin-left: 0;
    margin-right: 10px;
}

