$mainColor: #333079;
$lightColor: #8482c0;
$fontColor: #444;
$warnColor: #c93636;
$doneColor: #31af91;
$vhighPriorityColor: #9B2E4F;
$highPriorityColor: #333079;
$normalPriorityColor: #5F9A2E;
$lowPriorityColor: #AD9033;
$vlowPriorityColor: #b0b0b0;

$opacity1: 35%;
$opacity2: 15%;